<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-icon [name]="" slot="">
        </ion-icon>
      
        <ion-card-header>
          <ion-card-subtitle>
            Notas
          </ion-card-subtitle>
          <ion-card-title>
            Nome:--------
          </ion-card-title>
        </ion-card-header>
        <ion-back-button></ion-back-button>
      </ion-card>

      <ion-item>
        <ion-label>Disciplina</ion-label>
        <ion-select placeholder="Select One" >
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>

       <ion-grid>
         <ion-row *ngFor="let item of items">
          <ion-col>{{item.nota1}}</ion-col>
         </ion-row>
       </ion-grid>
           
      

</ion-content>
