<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-icon [name]="" slot="">
        </ion-icon>
      
        <ion-card-header>
          <ion-card-subtitle>
            Notas
          </ion-card-subtitle>
          <ion-card-title>
            Nome:--------
          </ion-card-title>
        </ion-card-header>
        <ion-back-button></ion-back-button>
      </ion-card>
       <ion-grid>
         <ion-row>
           <ion-col>
             Nome da disciplina
           </ion-col>
           <ion-col>
             Teste 1
           </ion-col>
           <ion-col>
             Teste 2
           </ion-col>
           <ion-col>
           Teste 3
         </ion-col>
           <ion-col>
             Trab 1
           </ion-col>
           <ion-col>
             Trab 2
           </ion-col>
           <ion-col>
             Analise de sistemas
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col>
             Nome da disciplina
           </ion-col>
           <ion-col>
             Teste 1
           </ion-col>
           <ion-col>
             Teste 2
           </ion-col>
           <ion-col>
             Teste 3
           </ion-col>
           <ion-col>
             Trab 1
           </ion-col>
           <ion-col>
             Trab 2
           </ion-col>
           <ion-col>
             Analise de sistemas
           </ion-col>
         </ion-row>
       </ion-grid>
      

</ion-content>
